@page "/"
@inject IConnectionMultiplexer redis
@inject ILogger<Home> logger
@using StackExchange.Redis

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
    Cache String is: <strong>@CacheString</strong>
</p>